! "Borrowed" from https://github.com/savoca/dotfiles/blob/gray/home/.Xdefaults

! Font settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt Font
URxvt.font: xft:Terminess Powerline:size=12
URxvt.boldfont: xft:Terminess Powerline:bold:size=12

! URxvt looks
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*internalBorder: 16

! URxvt Enable Link Support
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! URxvt Shortcuts
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! Colors
! #include ".Xresources.d/colors/default"
#include ".Xresources.d/colors/solarized"
